[run]
source = aird
omit = 
    */tests/*
    */test_*
    setup.py
    */venv/*
    */virtualenv/*
    aird/main_backup.py
    aird/main_original.py
    aird/combine_main.py  

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    pass

[html]
directory = htmlcov